In [1]:
from bs4 import BeautifulSoup
import requests
import html5lib
import csv
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Exercise 1

In [2]:
PATH = Service("/users/⁨samhutter/Documents⁩/HARP 151⁩/chromedriver")#Setting the path of chromedriver 
driver = webdriver.Chrome(service=PATH)#Initializing a new instance of the Chrome browser with the specified chromedriver service
driver.get("https://techwithtim.net")#Opening the page in google chrome


link = driver.find_element("link text", "Python Programming")#Finding the Python Programming button
link.click()#Clicking the python programing button

try:#Using a try-except block to handle any exceptions that may occur while executing the following code
    element = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.LINK_TEXT, "Beginner Python Tutorials"))
    )
    element.click()#Button gets clicked
    
    element = WebDriverWait(driver, 10).until(# Waiting for an element with link text "Beginner Python Tutorials" to become present on the page
        EC.presence_of_element_located((By.ID, "sow-button-19310003"))
    )
    element.click()#Button gets clicked
    
    driver.back()#Page back 3 times
    driver.back()
    driver.back()
    driver.forward()#Page forward 2 times
    driver.forward()
    
except: 
    driver.quit()#Page gets closed

# Exercise 2

In [3]:
driver = webdriver.Chrome(service=PATH) 
driver.get("https://hoopshype.com/")

link = driver.find_element("link text", "SALARIES") 
link.click()
link = driver.find_element("link text", "PLAYER SALARIES")
link.click()

csv_file = open("Salaries", "w", newline="", encoding = "utf-8")
csv_writer = csv.writer(csv_file)
csv_writer.writerow(["Name", "2022/2023", "2023/2024", "2024/2025", "2025/2026"]) 

try:
    main = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.TAG_NAME, "table"))
    )
    
    rows = main.find_elements(By.TAG_NAME, "tr")
    for row in rows[1:]:
        row_text = row.text
        cols = row_text.split('$')
        csv_writer.writerow(cols)
        
    
finally: 
    driver.quit()
    
csv_file.close()

In [4]:
pd.read_csv("Salaries")

                      Name    2022/2023    2023/2024    2024/2025   2025/2026
0        1. Stephen Curry   48,070,014   51,915,615   55,761,217   59,606,817
1            2. John Wall   47,345,760            0            0            0
2    3. Russell Westbrook   47,080,179            0            0            0
3         4. LeBron James   44,474,988   46,698,737   50,434,636            0
4         5. Kevin Durant   44,119,845   47,649,433   51,179,020   54,708,608
..                     ...          ...          ...          ...         ...
554     555. Olivier Sarr       90,665            0            0            0
555    556. Stanley Umude       58,493            0            0            0
556  556. Lester Quinones       58,493            0            0            0
557       558. DJ Steward       50,000            0            0            0
558    558. Armoni Brooks       50,000            0            0            0

[559 rows x 5 columns]